__pycache__/
*.pyc
.env
data/raw/*
data/processed/*
data/splits/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/splits/.gitkeep
models/*.pth
outputs/predictions/*
outputs/visualizations/*
!outputs/predictions/.gitkeep
!outputs/visualizations/.gitkeep
